
.button{
  width:50px;
  height:55px;
  background-color:skyblue;
  display:flex;
float:right;  
margin-top:5%;
margin-left:90%;
}
body{
  display:flex;
  justify-content:center;
  align-items:center;
}
.img{
  width:22%;
  height:50%;
  margin:10px;
}
.frame{
  height:250px;
}
.frame1{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
@media only screen and (min-width: 1200px) {
  .frame{

  height:550px;
}
}