body{
  display:flex;
  flex-direction:column;
}
.frame{
  width:75%;
  margin:auto;
}
td{
  text-decoration:underline;
}
.frame div {
    position: relative;
    display: inline-block;
}
tr{
  width:75%;
}
td{
  margin-left:25%;
}
.cardTr{
  

}